/* Basic styling for the dashboard */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #FAF9F6;
    color: #f76540;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #f76540;
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
}

nav a:hover {
    color: #f76540;
    text-decoration: underline;
    padding: 8px;
    font-size: 16px;
}

.welcome-header {
    padding-top: 30px;
    margin: 20px;
}

.dashboard {
    padding: 20px;
    text-align: center;
}

.dashboard-component {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 45%;
    text-align: left;
    text-decoration: none;
    color: black;
}

.card-header {
    margin-bottom: 5px;
}

.card-text {
    margin-top: 0;
}


/*Create Practice Plan*/

.practice-line-container {
    position: relative !important;
    border: 1px solid #ccc !important;
    padding: 10px !important;
    margin: 0px 20px 10px !important;
}

.practice-line {
    display: flex !important;
    flex-wrap: wrap !important;
}

.column {
    flex: 1 1 20% !important;
    /* Adjust the width as needed */
}

.label {
    font-weight: bold !important;
}

.value {
    margin-left: 5px !important;
}

.line {
    margin: 10px 20px !important;
}

.save-icon {
    position: absolute !important;
    bottom: 25px !important;
    right: 25px !important;
}

.add-icon {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px !important;
    /* Adjust spacing as needed */
}

.add-icon img {
    width: 30px;
    /* Adjust icon size as needed */
    height: auto;
    /* Maintain aspect ratio */
}